<div id="<%= dom_id fishing_log %>" class="border p-4 mb-4 bg-light rounded">

  <h1 class="text-center">
    <%= fishing_log.lake.name %>
  </h1>

  <p>
    <strong>Date:</strong>
    <%= fishing_log.date %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= fishing_log.species %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= fishing_log.notes %>
  </p>

  <p>
    <strong>Lures:</strong>
    <%= fishing_log.lures %>
  </p>  

</div>
