<div id="<%= dom_id fishing_log %>">
  <p>
    <strong>Lake Id:</strong>
    <%= fishing_log.lake_id %>
  </p>

  <p>
  <strong>Lake Name:</strong>
  <%= fishing_log.lake.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= fishing_log.date %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= fishing_log.species %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= fishing_log.notes %>
  </p>

  <p>
    <strong>Lures:</strong>
    <%= fishing_log.lures %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= fishing_log.photo %>
  </p>

</div>
