<p style="color: green"><%= notice %></p>

<% content_for :title, "Fishing logs" %>

<div style="background-color: black;">
  <h1 class="text-center">Fishing logs</h1>
</div>

<div class="custom-bg"
  <p class="text-center p-3 ">(Keep track of your catches by selecting the lake, date, species, and lures! Simply press the (New fising log) button to start a new log.)</p>
</div>

<div class="container-fluid">
  <div class="row">
    <% @fishing_logs.each do |fishing_log| %>
      <div class="col-md-4 mb-4">
        <div class="card mb-4 shadow p-3">
          <%= render fishing_log %>
          <p>
            <%= button_to "Show this fishing log", fishing_log, method: :get, class: "text-center" %>
          </p>
        </div>
      </div>
    <% end %>  
  </div>
</div>


<%= will_paginate @fishing_logs, class: 'pagination pagination-sm' %>

<hr>
<div class="text-center p-5">
  <%= button_to "New fishing log", new_fishing_log_path, method: :get, class: " btn btn-primary" %>
</div>
