<div class="container mt-4">
  <%= form_with(model: favorite, class: "needs-validation") do |form| %>
    <% if favorite.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading">Errors:</h4>
        <ul>
          <% favorite.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :lake_id, "Select a Lake:", class: "form-label" %>
      <%= form.collection_select :lake_id, Lake.all, :id, :name, { prompt: "Lake Name" }, { class: "form-select" } %>
    </div>

    <div class="mb-3">
      <%= form.label :notes, class: "form-label" %>
      <%= form.text_area :notes, class: "form-control", rows: 5 %>
    </div>

    <div class="text-center">
      <%= form.submit "Save", class: "btn btn-primary w-50" %>
    </div>

    <hr>
  <% end %>
</div>

