<p style="color: green"><%= notice %></p>

<% content_for :title, "Favorites" %>

<h1>Favorites</h1>

<div class="container-fluid">
  <div class="row">
    <% @favorites.each do |favorite| %>
      <div class="col-md-4 mb-4">
        <div class="card mb-4 shadow">
          <%= render favorite %>
          <p>
            <%= link_to "Show this favorite", favorite %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate @favorites %>

<%= link_to "New favorite", new_favorite_path %>
