<div id="<%= dom_id(comment) %>" class="card mb-3">
  <div class="card-body bg-light">
    <p>
      <strong>User:</strong>
      <%= comment.user.username %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= comment.user.created_at%>
    </p>

  <hr>
    <p>
      <%= comment.body %>
    </p>

    <p>
      <%= button_to "Delete Comment", [comment.lake, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
    </p>
  </div>
</div>

