<%= form_with model: [lake, lake.comments.build], class: "needs-validation", novalidate: true do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(form.object.errors.count, "error") %> prohibited this comment from being saved:</h4>
      <ul>
        <% form.object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :body, "Your Comment", class: "form-label" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit Comment", class: "btn btn-primary" %>
  </div>
<% end %>

