<%= form_with(model: lake) do |form| %>
  <% if lake.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lake.errors.count, "error") %> prohibited this lake from being saved:</h2>

      <ul>
        <% lake.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Name of the Lake", for: "lake-name-field", style: "display: block" %>
    <%= form.text_field :name, id: "lake-name-field" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
