<%= form_with(model: lake, class: "needs-validation", novalidate: true) do |form| %>
  <% if lake.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(lake.errors.count, "error") %> prohibited this lake from being saved:</h4>
      <ul>
        <% lake.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Name of the Lake", class: "form-label" %>
    <%= form.text_field :name, id: "lake-name-field", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit "Save Lake", class: "btn btn-primary" %>
  </div>
<% end %>

