<p style="color: green"><%= notice %></p>

<%= render @lake %>
<div class="text-center">
  <%= link_to "Edit this Lake", edit_lake_path(@lake), class: "btn btn-warning" %>
</div>
<hr>

<div class="d-flex justify-content-between mb-3">
  <div>
    <%= link_to "Back to lakes", lakes_path, class: "btn btn-secondary me-2" %>
  </div>
  <div>
    <%= button_to "Destroy this lake", @lake, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</div>

