<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fishing Spot Finder" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar" style="background-color: Aqua">
          <div class="position-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <p class="nav-link active"><%= link_to "Home", root_path, method: :get%></p>
              </li>
              <li class="nav-item">
                <p class="nav-link active"><%= link_to "Fishing Logs", fishing_logs_path, method: :get %></p>
              </li>
              <li class="nav-item">
                <p class="nav-link active"><%= link_to "Favorite Spots", favorites_path, method: :get %></p>
              </li>
              <li class="nav-item">
                <p class="nav-link active"><%= link_to "My Account", user_profile_path, method: :get %></p>
              </li>
            </ul>
          </div>
          <div class="mt-auto">
            <% if user_signed_in? %>
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger w-100" %>
            <% else %>
              <%= button_to "Sign In", new_user_session_path, class: "btn btn-primary w-100" %>
            <% end %>
          </div>
        </nav>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-4">
          <%= yield %>
          <%= yield :javascript %>
        </main>
      </div>
    </div>

  </body>
</html>
