<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fishing Spot Finder" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <style> 
      body {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9c/Fly_lures.jpg');
        background-size: cover; 
        background-position: center;
        background-repeat: repeat;
      }

      h1 {
        color: white;
        font-style: bold;
      }

      footer {
        background-color: black;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar" style="background-color: tan">
          <div class="d-flex align-items-center pb-3 mb-3 border-bottom border-dark"> 
            <span class="fs-5 fw-bold">Fishing Spot Finder</span>
          </div>
          <div class="position-sticky">
            <ul class="nav flex-column">
              <li class="mb-1">
                <%= button_to "Home", root_path, method: :get, class: "btn btn-toggle d-inline-flex align-items-center fw-semibold pb-5" %>
              </li>
              <li class="mb-1">
                <%= button_to "Fishing Logs", fishing_logs_path, method: :get, class: "btn btn-toggle d-inline-flex align-items-center fw-semibold pb-5" %>
              </li>
              <li class="mb-1">
                <%= link_to "Favorite Spots", favorites_path, method: :get, class: "btn btn-toggle d-inline-flex align-items-center fw-semibold pb-5" %>
              </li>
            </ul>
          </div>
          <div class="mt-auto">
            <% if user_signed_in? %>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <%= button_to "My Account", user_profile_path, method: :get, class: "btn btn-toggle d-inline-flex align-items-center fw-semibold pb-5" %>
                </li>
              </ul>
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger w-100" %>
            <% else %>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <%= button_to "Sign up", new_user_registration_path, method: :get, class: "btn btn-toggle d-inline-flex align-items-center fw-semibold pb-5" %>
                </li>
              </ul>
              <%= button_to "Login", new_user_session_path, class: "btn btn-primary w-100" %>
            <% end %>
          </div>
        </nav>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-4">
          <%= yield %>
          <%= yield :javascript %>
        </main>
      </div>
    </div>
    <footer style="padding: 20px;">
        <div class="flex-fill">
            <p style="color:white;">Background Image Source: <a href="https://commons.wikimedia.org/wiki/File:Fly_lures.jpg" target="_blank" style="color: white;">Commons Wikimedia</a></p>
        </div>
    </footer>
  </body>
</html>
